<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>LiipFunctionalTestBundle</title>
    </head>
    
    <body>
        <h1>LiipFunctionalTestBundle</h1>
        
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        
        {% block body %}{% endblock %}
    </body>
</html>
