composer.lock
vendor

# Ignore files created during tests
/tests/App/cache/
/tests/App/logs/
/tests/AppConfig/cache/
/tests/AppConfig/logs/
/tests/AppConfigLeanFramework/cache/
/tests/AppConfigLeanFramework/logs/
/tests/AppConfigMysql/cache/
/tests/AppConfigMysql/logs/
/tests/AppConfigPhpcr/cache/
/tests/AppConfigPhpcr/logs/
/cov/
