<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>LiipFunctionalTestBundle</title>
    </head>
    
    <body>
        <p id="user">
            {%- if not is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
                Not logged in.
            {%- else -%}
                Logged in as {{ app.user.username }}.
            {%- endif -%}
        </p>

        <h1>LiipFunctionalTestBundle</h1>
        
        {% if flash_message|default(false) %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endif %}
        
        <div id="content">{% block body %}{% endblock %}</div>
    </body>
</html>
